# Unity recommended .gitignore

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.log
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.vs/
.gradle/
.consulo/

ExportedObj/

*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
mono_crash.*

*.apk
*.aab
*.app
*.unitypackage

.DS_Store
Thumbs.db